html{ font-family: 'Press Start 2P', cursive;
 background-color: #472e00;
}
 /* ADECUACIONES PARA BOTONES COPIADAS */



h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#FB4321, #2B1055);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 5rem;
}
ul {
    position: absolute;
    padding-top: 2rem;
    padding-left: 0px;
     top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;

}

.button1 {background-color: #d60049;}

button {
    width: 50%;
    font-family: 'Press Start 2P', cursive;
    font-size: 30px;
    border-width: 6px;
    color: white;
  background-color: #af1e03;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 1.5rem 3rem;
  transition-duration: 0.4s;
  cursor: pointer;

}


