html, body{
 margin : 0 ;
 padding: 0;
 font-family: 'Press Start 2P', cursive;
 /*background-color:lightblue;*/
/* background-image: url("../img/otros/fondo.jpg");*/
  background-color:lightblue;
 background-image: url("../img/otros/fondo_tile.jpg");
 background-repeat: repeat ;

}

/* VARIABLES */
:root{
 --common-color: #A7C7E7 /*#9AA6B1*/ /*#AAAAAA*/ /*#BEBEBE*/;
 --rare-color:#A6ECA8;
 --special-color: #BEA9DF;
 --ice-color: #47ABFF;
 --dark-grey: #2E2E2E;
}


/* UTILITIES */
.container{
 width: 90%;
 margin: auto;

}
.button{
 display: block;
 padding: 1.5rem 2.5rem;
 margin: 1rem;
 text-decoration: none;
 background-color: var(--common-color);
 color: black;
 text-align: center;
 border: black 5px;
 box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
}
.button:hover {
  filter: brightness(85%);
}
.flex-wrap {
 display: flex;
 flex-wrap: wrap;
}
.space-evenly {
 justify-content: space-evenly;
}
#mapita {
 width: 100%;
 height: auto;
 padding-top: 20px;
    z-index: 5;
}
.responsive-img{
 height: auto;
  width:80%;
 padding-bottom: 0.5rem;
}

/* APP SPECIFIC */
.page-header{
 background-color: var(--ice-color);
 color: white;
 box-shadow: 5px 5px 10px 2px rgba(0,0,0,.4);
}
.page-title , .logo {
 margin : 0 ;
 text-align: center;
}
ul{
 list-style-type: none;
 padding: 0;
 margin: 0;
}
#logo{
 font-size: 2rem;
 color: white;
 background-color: midnightblue;
 padding: 2rem 3rem;
}
#map {
 width:30%;
 box-shadow: 5px 5px 10px 2px rgba(0,0,0,.4);
 padding-top: 20px;
}
#bienvenido{
 z-index: 999;
}
#game-area{
 width: 70%;
}
.box{
 width: 100%;
 padding: 1rem;
}
#status{
 width: 95%;
 padding: 0;
 padding-left: 1rem;
 margin: auto;
 background-color: rgba(173,216,230,.5) /*rgba(170, 170, 170,0.4)*/;
 align-self: center;
 box-shadow: 5px 5px 10px 2px rgba(0,0,0,.4);
}
#status h2{
 font-size: 1rem;
}
.box table{
 text-align: left;
 width: 100%;
}
#destinations{
 width:100%;
 margin: auto;
 text-align: center;
}

.destination{
 width:23%;
 margin:0;
 text-align: center;
 display: inline-block;
 background-color: var(--common-color);
 height: 500px;
 vertical-align: top;
 box-shadow: 5px 5px 10px 2px /*lightblue rgba(173,216,230,.5) */ rgba(0,0,0,.8);
}
.destination:hover {
  filter: brightness(85%);
}
figure{
 width: 100%;
 margin: auto;
}
figcaption{
 font-size: 80%;
}
#icon{
 width:85%;
 padding-bottom: 0.5rem;
}
.destination table{
 display: block;
 vertical-align: bottom;
}
.destination td{
 width:50%;
 font-size: 0.8rem;
 padding-bottom: 2%;
 padding-left: 2%;
 /*align-self: baseline;*/
}
p{
 font-size: 90%;
width: 90%;
 margin: auto;
 padding: 1rem 0rem 1rem 0rem;
}
p.descripcion{
 padding-bottom: 35px;
}
.common{
 background-color: var(--common-color);
}
.rare{
 background-color: var(--rare-color);
}
.special{
 background-color: var(--special-color);
}
.none{
 background-color: darkgray;
}

footer{
 margin-top: 1%;
 /*background-color: rgba(173,216,230,.7);*/
 background-color: rgba(173,216,230);
 height: 190px;
 box-shadow: 5px 5px 10px 2px rgba(0,0,0,.6);
 justify-content: space-evenly;
}
footer div{
 width: 30%;
 text-align: center;
}
.pie {
 text-align: center;
 background-color: var(--common-color);
 box-shadow: 5px 5px 10px 2px rgba(0,0,0,.4);
 height: 85%;
 margin-top: 5px;
 padding: 5px;
}
#pie2{
 width: 15%;
 background-color: #e4e7fa;
}
#pie2 h3{
 font-size: medium;
}
#pie3{
 width: 45%;
 background-color: #87a2c5;
}
#inventario{
 font-size: medium;
 margin-top: 6px;
 display: flex;
}
#metas{
 margin-top: 1%;
}
.goal{
 font-size: small;
 display: inline-block;
 background-color: var(--ice-color);
 box-shadow: 5px 5px 10px 2px rgba(0,0,0,.6);
 height: 60%;
}
.completed{
 background-color: var(--rare-color);
}
.artifact{
 margin-bottom: 10px;
 width: 8%;
 box-shadow: 5px 5px 10px 2px rgba(0,0,0,.4);
}

/* TOOLTIP */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 600px;
  background-color: rgba(36, 42, 51, 0.9);
 line-height: 1.3;
 margin: 7px;
  color: #fff;
  text-align: justify;
  border-radius: 6px;
  padding: 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/*  STYLING FOR MODAL SCREEN */
 /*INTRO MODAL*/
#modal2{
    width: 50%;
    z-index: 1001;
}
#modal-img{
    float: right;
    margin: 10px;

}
.modal-text{
    text-align: justify;
    line-height: 1.5;
    font-size: small;
}
#modal-list{
    display: inline-block;
    padding-left: 25%;
}
 /*OUTRO MODAL*/
#disaster{
    color: #af1e03;
}


#success{
    color: darkgreen;
}


 /*GENERAL MODAL*/

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 1001;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
    z-index: 1000;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
